*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    width: 100%;
    min-height: 100vh;
}

.navbar{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid black;
}

.navbar__list{
    margin-inline: auto;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.navbar__link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.welcome-heading{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

.welcome-paragraph{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1rem 0;
}